<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: Book.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  	 <h2>Book detail</h2>
  		 <table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <!--class名をつけることで対応するjsファイル（create.jsとdestroy.js）にて更新できる-->
          <td class="book-comments-counter">
            コメント数: <%= @book.book_comments.count %>
          </td>
          <!--この箇所の更新を指定するために、変更したい箇所にidで名前をつけます。-->
          <td id="favorite_buttons_<%= @book.id %>">
            <%= render "favorites/btn", book: @book %>
          </td>
          <% if @book.user == current_user %>
            <!--class名の#{@book.id}は無視してOK（よく分からないコードになっているので）-->
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %></td>
            <!--@bookはパスにモデル名を指定することで自動的にurlを探すもの、@book = Book.find(params[:id])、正式な書き方ではbook_path(@book)となる-->
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%></td>
          <% end %>
        </tr>
       </table>
      <!--部分テンプレート化-->
      <!--コメント一覧部分-->
      <!--class名をつけることで対応するjsファイル（create.jsとdestroy.js）にて更新できる-->
      <div class="book-comments-index">
       <%= render "book_comments/index", book: @book %>
      </div>
      <!--コメントフォーム-->
      <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>